<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE log4j:configuration PUBLIC
 "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="database" class="org.apache.log4j.jdbc.JDBCAppender">
	
		<param name="URL" value="jdbc:mysql://localhost:3306/softtour" />
		<param name="driver" value="com.mysql.jdbc.Driver" />
		<param name="user" value="root" />
		<param name="password" value="root" />
	
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" 
		 	 	value="INSERT INTO logs (date, level, logger, method, line, message) 
		 	 			VALUES ('%d{yyyy-MM-dd HH:mm:ss}', '%p', '%c', '%M', '%L', '%m');" />
		</layout>
	</appender>
	
	<root>
		<level value="WARN" />
		<appender-ref ref="database"/>
	</root>
	
</log4j:configuration>