.hotels-filter {
    background-color: rgba(139, 150, 143, 0.30);
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 5px 38px #4b4b4b;
    margin-bottom: 20px;
    width: 210px;
}

.filter-element {
    width: 100%;
    margin-bottom: 10px;
}

.filter-button {
    margin-top: 10px;
}

.hotels-result {
    margin-left: 65px;
}

.img-circle {
    height: 170px;
    width: 170px;
}

#filter {
    margin: 15px;
}

.hotel_search{
    width: 240px;
}

.country_selector {
    width: 100%;
}

.pagin{
    margin-left: 30px;
}
