#login {
    position: relative;
    width: 400px;
    height: 400px;
    margin:10px auto 5px;
    
    
}
#top {
    height:100px;
    
    
}
#red {
    background: #000000;
}
body {
    background: url("../img/back.jpg") no-repeat; background-attachment:fixed;
    background-size: cover; 
}

#white_main {
    background-color:  rgba(255, 255, 255, 0.6);
    margin-top:75px;
    border-radius:6px;
 
}

#main_panel{
	background-color:  rgba(255, 255, 255, 0.6);
    margin:75px,50px;
    border-radius:6px;
    
	
}


#heading {
    color: #F5F5F5;
    vertical-align: middle;
    
    
}

#location_registration {
	margin-top: 25px;
	margin-left: 17%;

}

.imgfont {
    font-size: 30px;
    text-align: center;

    
}
.form {
    background-color:  rgba(255, 255, 255, 0.4);
    font-family: serif;
    text-align: center;
    margin-bottom: 15px;
    border: solid 1px;
    border-color: rgb(150,150,150);
    border-radius:3px;
}

.glyphicon-remove{
    cursor: pointer;
}

.panel-default{

}

.panel-default:hover{
    outline-color: #2785D1;
    outline-style:solid;
    outline-width:2px;
}

.tabulatedTitle{
    font-weight: bold;
    color: #285e8e;
}

.tabTitleFont {
    font-weight: bold;
    color: #30aaff;
}

P {
    font-size: 17px;
}

button.transitionInfo {

    margin-left: 0pt;
    margin-right: 40pt;
    margin-top: 15pt;
    margin-bottom: 15pt;
}

.tourCollapseTitle {
    margin-top: 2pt;
}

.bootstrap-table {
    margin-bottom: 10pt;
}

.hotelTitle{
    font-size: 25pt;
}